<!-- <!DOCTYPE html
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Main admin dashboard for Girl Safety Transport">
    <meta name="keywords" content="gst">

    <!-- Title Page-->
    <title>Admin Dashboard | GST</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/icon/prologo.png" />

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">

    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">
    <link href="css/index.css" rel="stylesheet" media="all">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4CTkkgRzwcS21LzhOAQti-IHrg0sXkN0"></script>
</head>


<body class="animsition">
   <% result.forEach(function(doc){ %>
      <p class="invisible" style="display:none;"><%=JSON.stringify(doc)%></p>
    <% }) %>
    <div class="page-wrapper">
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar2" id="shadow">
            <div class="logo">
                <span style="color:white;font-size:22px;font-family: 'Bree Serif', serif;">Girl Safety Transport</span>
            </div>
            <div class="menu-sidebar2__content js-scrollbar1">
                <div class="account2">
                    <div class="image img-cir img-120">
                        <img src="images/icon/girl.jpg" class="img responsive" alt="Admin Logo" />
                    </div>
                    <h4 class="name">Main Admin Panel</h4>
                    <a href="#">Sign out</a>
                </div>
                <nav class="navbar-sidebar2">
                    <ul class="list-unstyled navbar__list">

                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-building"></i><span onclick="newschool()">Add New School</span>

                            </a>

                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fa fa-user"></i><span data-target="#editParent" data-toggle="modal" role="button">Add New Parent
                             </span>
                            </a>

                        </li>
                      </li>
                      <li class="has-sub">
                          <a class="js-arrow" href="#">
                              <i class="fas fa-institution"></i><span data-target="#devicestates" data-toggle="modal" role="button">All Device States
                              </span></a>

                      </li>

                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container2">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop2" id="shadow">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap2">
                            <div class="logo d-block d-lg-none">
                                <span style="color:white;font-size:22px;font-family: 'Bree Serif', serif;">Girl Safety Transport</span>
                            </div>
                            <div class="header-button2">

                                <div class="header-button-item has-noti js-item-menu">
                                    <i class="zmdi zmdi-notifications"></i>
                                    <div class="notifi-dropdown js-dropdown">
                                        <div class="notifi__title">
                                            <p>You have 3 Notifications</p>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c1 img-cir img-40">
                                                <i class="zmdi zmdi-email-open"></i>
                                            </div>
                                            <div class="content">
                                                <p>You got a email notification</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c2 img-cir img-40">
                                                <i class="zmdi zmdi-account-box"></i>
                                            </div>
                                            <div class="content">
                                                <p>Your account has been blocked</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c3 img-cir img-40">
                                                <i class="zmdi zmdi-file-text"></i>
                                            </div>
                                            <div class="content">
                                                <p>You got a new file</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__footer">
                                            <a href="#">All notifications</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="header-button-item mr-0 js-sidebar-btn">
                                    <i class="zmdi zmdi-menu"></i>
                                </div>
                                <div class="setting-menu js-right-sidebar d-none d-lg-block" id="shadow">
                                    <div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-account"></i>Account</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-money-box"></i>Billing</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="fa fa-comment"></i>Feedback</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="fa fa-fighter-jet"></i>Log Out</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>



            <section class="statistic" style="margin-top:40px;">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div id="card-1" class="statistic__item card-1">
                                    <h2 class="number" style="color:white;"><%=schoolno %></h2>
                                    <span class="desc" style="color:white;">Schools</span>
                                    <div class="icon">
                                        <i class="fas fa-building"></i>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="statistic__item card-1" id="card-2">
                                    <h2 class="number" style="color:white;"><%=buses %></h2>
                                    <span class="desc" style="color:white;">Buses</span>
                                    <div class="icon">
                                        <i class="fa fa-bus"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="statistic__item card-1" id="card-3">
                                    <h2 class="number" style="color:white;"><%=parents %></h2>
                                    <span class="desc" style="color:white;">Parents</span>
                                    <div class="icon">
                                        <i class="fa fa-user"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="statistic__item card-1" id="card-4">
                                    <h2 class="number" style="color:white;"><%=children %></h2>
                                    <span class="desc" style="color:white;">Children</span>
                                    <div class="icon">
                                        <i class="fa fa-users"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END STATISTIC-->


            <section>
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-12">
                                <!-- USER DATA-->
                                <div class="user-data m-b-40" id="shadow">
                                    <h3 class="title-3 m-b-30">
                                        <i class="zmdi zmdi-account-calendar"></i>Mean Data</h3>

                                    <div class="table-responsive table-data" style="height:525px;">
                                        <table class="table">
                                            <thead>
                                                <tr>

                                                    <td>School</td>
                                                    <td>Buses</td>
                                                    <td>Children</td>
                                                    <td>Parents</td>
                                                </tr>
                                            </thead>
                                            <tbody id="mtable">
											  <%if(schools.length==0){%>
											     <tr ><td colspan="4" style="padding-top:150px; padding-bottom:150px; border-style:hidden;" class="text-center">No any mean data found</td></tr>
											  <%}else{%>
                                              <%schools.forEach(function(school){%>
											   
                                                <tr>

                                                    <td>
                                                        <div class="table-data__info">
                                                            <h6><%=school.name%></h6>
                                                            <span>
                                                                <a href="#"><%=school.address%></a>
                                                            </span>
                                                            <br />
                                                            <span>
                                                                <a href="#"><%=school.contactNumber%></a>
                                                            </span>
                                                            <br />
                                                            <span>
                                                                <a href="#"><%=school.emailAddress%></a>
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span class=""><%=school.buses.length%></span>
                                                    </td>

                                                    <td>
                                                        <span class="">
                                                            <%=school.childrenNumber%>
                                                        </span>
                                                    </td>
                                                    <td><span><%=school.parents.length%></span></td>
                                                </tr>

                                            <%  })  %>
                                            <%}%>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <!-- END USER DATA-->
                            </div>
                            <div class="col-xl-12">
                                <!-- MAP DATA-->
                                <div class="map-data m-b-40" style="height:630px;" id="shadow">
                                    <h3 class="title-3 m-b-30">
                                        <i class="zmdi zmdi-map"></i>Map Data</h3>
                                    <div class="filters">
                               
										<div class="rs-select2--dark rs-select2--md m-r-10 rs-select2--border">
                                            <select class="js-select2 schooln" name="property">
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                        <div class="rs-select2--dark rs-select2--sm rs-select2--border">
                                            <select class="js-select2 au-select-dark busn" name="time">
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                    
									</div>
                                    <div class="map-wrap m-t-45 m-b-80">
                                        <div id="map" style="height: 370px; width:100%;" class="text-center"></div>
                                    </div>

                                </div>
                                <!-- END MAP DATA-->
                            </div>
							
						<div class="col-xl-12">
						   <div class="m-b-40" style="background-color:#FFFFFF; padding-bottom:30px;" id="shadow">
						     
						     <h3 class="title-3 m-b-30" style="padding-top:30px;">
                                        <i class="zmdi zmdi-map" style="padding-left:40px;" ></i>School Data
										<span style="float:right" ><button onclick="newschool()" class="btn btn-primary pull-right" id="but_add" style="margin-right:30px;">Add New School</button></span>
							 </h3>
       
								<table class="table table-striped" style="border-style:hidden;">
                                    <thead style="background-color:#FFFFFF;" >
                                        <tr>
                                            <td style="padding-left:30px;">Name</td>
                                            <td>Username</td>
                                            <td>Password</td>
                                            <td>Address</td>
											<td>Email</td>
											<td>Phone Number</td>

                                        </tr>
                                    </thead>
                                    <tbody id="tableOverflow">
									 <%if(schools.length==0){%>
											     <tr ><td colspan="6" style="padding-top:150px; padding-bottom:150px; border-style:hidden;" class="text-center">No any school data found</td></tr>
									<%}else{%>
                                     <%schools.forEach(function(school,index){%>
									    <tr style="border-style:hidden; background-color:#FFFFFF;" class="mn">
											<td style="padding-left:30px;"><%=school.name%></td>
                                            <td><%=school.username%></td>
                                            <td>-</td>
                                            <td><%=school.address%></td>
											<td style="width:20px;"><%=school.emailAddress%></td>
											<td><%=school.contactNumber%></td>
											<td><i class="far fa-edit" onclick="editdata('<%=school.name%>','<%=school.username%>','<%=school.address%>','<%=school.emailAddress%>','<%=school.contactNumber%>')"></i></td>
											<td><i class="fa fa-trash" onclick="deletedata('<%=school.name%>')"></i></td>
                                        </tr>
									 <%})%>
									<%}%>
                                    </tbody>
                                </table>
								</div>
							</div>
							
							<div class="col-xl-12">
							   <div class="m-b-40" style="background-color:#FFFFFF; padding-bottom:30px;" id="shadow">
							    <h3 class="title-3 m-b-30" style="padding-top:30px;">
                                        <i class="zmdi zmdi-map" style="padding-left:40px;" ></i>Parent Data
										<span style="float:right" ><button onclick="newschool()" class="btn btn-primary pull-right" id="but_add" style="margin-right:30px;">Add New School</button></span>
							    </h3>
                                <table class="table table-striped" style="border-style:hidden;">
                                    <thead id="taHead" style="background-color:#FFFFFF;">
                                        <tr>
                                            <td style="padding-left:30px;">Name</td>
                                            <td>School Name</td>
                                            <td>Children</td>
                                            <td>Contact Number</td>
                                            <td>Email</td>
                                            <td>Address</td>
                                        </tr>
                                    </thead>
                                    <tbody id="tableOverflow" style="background-color:#FFFFFF; border-style:hidden;">
                                        <tr>
                                            <td style="padding-left:30px;">Amar Bahadur</td>
                                            <td>Eden National Secondary Boarding School</td>
                                            <td>5</td>
                                            <td>9863699695</td>
                                            <td>cruze.alex@gmail.com</td>
                                            <td>Swayambhu, Kathmandu</td>
											 <td><i class="far fa-edit" onclick="peditdata()"></i></td>
											<td><i class="fa fa-trash" onclick="pdeletedata()"></i></td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
							   </div>
                            </div>
							
                        </div>
                    </div>
                </div>
            </section>
            <!--Modal Boxes (Edit School)-->
            <div class="modal fade" id="editSchool">
                <div class="modal-dialog modal-lg" style="height:450px;" id="f1">
                    <div class="modal-content" id="shadow">
                        <div class="modal-header"><span style="font-size:18px;" id="headis">Add New School</span></div>
                        <div class="modal-body text-center" id="overflowControl">
                            
                            <div class="row" id="addSchool">
                                <form role="form text-center" method='POST' id="sform">
                                    <input type="text" name="name"  class="form-control" id="z1" placeholder="Enter School Name" autocomplete="off"/>
                                    <input type="text" name="username" class="form-control" id="z2" placeholder="Enter School Username" autocomplete="off"/>
                                    <input type="password" name="password" class="form-control" id="z3" autocomplete="off" style="margin-top:10px;" placeholder="Enter School Password"/>
                                    <input type="number" name="number" class="form-control" id="z4" autocomplete="off" style="margin-top:20px;" placeholder="Enter School Contact Number"/>
                                    <input type="text" name="address" class="form-control" style="margin-top:20px;" id="z5" autocomplete="off" placeholder="Enter School Address"/>
                                    <input type="email" name="email" class="form-control" id="z6" autocomplete="off" placeholder="Enter School Email Address"/>
                                    <button type="submit" class="btn btn-outline-primary btn-lg" value="submit" id="adds">Add</button>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer"><button class="btn btn-outline-danger" data-dismiss="modal">Close</button></div>
                    </div>
                </div>
            </div>
            <!--End Modal Boxes (Edit School)-->
			<div class="modal fade" id="devicestates">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content schoolsList">
                                        <div class="modal-header">
                                            <span>List of Available Devices</span>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row" id="schoolsInfoList">
                                                <table class="table table-striped" id="makeEditable">
                                                    <thead id="taHead">
                                                        <tr>
                                                            <th scope="col">S.N.</th>
                                                            <th scope="col">DeviceId</th>
                                                            <th scope="col">Name of School</th>
                                                            <th scope="col">Bus Number</th>
                                                            
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tableOverflow">

                                                        <% result.forEach(function(doc){ %>
                                                          <tr>
                                                          <th scope="row"><%=1+result.findIndex(function(sch){return sch===doc})%></th>

                                                          <td><%= doc.deviceId%></td>
														  
														  <%if(doc.name==null){%>
														     <td>Unassigned</td>
														  <%}else{%>
                                                             <td><%= doc.name %></td>
														  <%}%>
														  
														  <%if(doc.busno==0){%>
														     <td>Unassigned</td>
														  <%}else{%>
                                                            <td><%= doc.busno%></td>
                                                          <%}%>
                                                        </tr>
                                                          <% }) %>


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="modal-footer"><button class="btn btn-outline-danger" data-dismiss="modal">Close</button></div>

                                    </div>

                                </div>
                            </div>

            <!--Modal Boxes (Edit Parents Info)-->
            <div class="modal fade" id="editParent">
                <div class="modal-dialog modal-lg" style="height:500px;">
                    <div class="modal-content" id="shadow">
                        <div class="modal-header"><span style="font-size:18px;">Add New Parent</span></div>
                        <div class="modal-body text-center" id="overflowControl">
                            
                            <div class="row text-center" id="addParent">
                                <form role="form text-center" action='/addParent' method='POST' >
                                    <input type="text" name="parentname" class="form-control" placeholder="Enter Parent Name">
                                    <input type="text" name="mobilenumber" class="form-control" placeholder="Enter Phone Number">
                                    <input type="text" name="address" class="form-control" placeholder="Enter Address">
                                    <input type="email" name="email" class="form-control" placeholder="Enter Email Address">
                                    <input type="text" name="childname" class="form-control" placeholder="Enter childname">
                                    <input type="text" name="schoolname" class="form-control" placeholder="Enter school name">
                                    <input type="number" name="busnumber" style="margin-top:10px;" class="form-control" placeholder="Enter bus number">

                                    <button type="submit" class="btn btn-outline-primary btn-lg" style="margin-top:20px;" value="submit">Submit</button>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer"><button class="btn btn-outline-danger" data-dismiss="modal">Close</button></div>
                    </div>
                </div>
            </div>
            <!--Modal Boxes (Edit Parents Info)-->

            <!--Modal Boxes (List Schools)-->
            
            <!--Modal Boxes (List Schools)-->
            <!-- END PAGE CONTAINER-->
        </div>


    </div>
    <!--footer class="footer" id="shadow">
        <div class="container" id="footerContent">
           <span class="text-center">
			Copyright reserved
			  <script>
			     var date=new Date();
				 document.write(date.getFullYear());
			  </script>
			 </span>
        </div>
    </footer-->

    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js">


    </script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">


    </script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">


    </script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="vendor/select2/select2.min.js">


    </script>

    <!-- Main JS-->
    <script src="js/main.js"></script>
    <script src="js/bootstable.min.js"></script>
    <script>
        function addSchool() {
            document.getElementById('addSchool').style.display = "inline-block";
			document.getElementById('addSchool').style.height="450px";
            document.getElementById('removeSchool').style.display = "none";
            document.getElementById('modifySchool').style.display = "none";
            document.getElementsByTagName('form').style.width = "100%";
        }

        function removeSchool() {
            document.getElementById('addSchool').style.display = "none";
            document.getElementById('removeSchool').style.display = "inline-block";
            document.getElementById('modifySchool').style.display = "none";
        }

        function modifySchool() {
            document.getElementById('addSchool').style.display = "none";
            document.getElementById('removeSchool').style.display = "none";
            document.getElementById('modifySchool').style.display = "inline-block";
        }

        function addParent() {
            document.getElementById('addParent').style.display = "inline-block";
			document.getElementById('addParent').style.height="500px";
            document.getElementById('removeParent').style.display = "none";
            document.getElementById('modifyParent').style.display = "none";
            document.getElementsByTagName('form').style.width = "100%";
        }

        function removeParent() {
            document.getElementById('addParent').style.display = "none";
            document.getElementById('removeParent').style.display = "inline-block";
            document.getElementById('modifyParent').style.display = "none";
        }

        function modifyParent() {
            document.getElementById('addParent').style.display = "none";
            document.getElementById('removeParent').style.display = "none";
            document.getElementById('modifyParent').style.display = "inline-block";
        }

    </script>
   </script>
</body>

</html>
