<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Main admin dashboard for Girl Safety Transport">
    <meta name="keywords" content="gst">

    <!-- Title Page-->
    <title>School Dashboard | GST</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/icon/prologo.png">

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">

    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">
    <link href="css/index.css" rel="stylesheet" media="all">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4CTkkgRzwcS21LzhOAQti-IHrg0sXkN0"></script>

    <script src="vendor/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/2.16.0/moment.min.js"></script>
	<script src="https://rawgit.com/vitalets/combodate/master/src/combodate.js"></script>

</head>


<body class="animsition" style="padding:0;">
    <p class="invisible" style="display:none;"><%=JSON.stringify(school)%></p>
	<div class="page-wrapper">
     
      
            <!-- HEADER DESKTOP-->
            <header class="header-desktop2" id="shadow" style="position:fixed;">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap2">

                            
							
							
				            <div class="logo1" style="text-align:left; margin-right:76.5%;">   
								<span style="color:white;font-size:22px;font-family: 'Bree Serif', serif; cursor:pointer;"><span class="js-sidebar-btn"><i  style="margin-right:20px;" class="zmdi zmdi-menu"></i></span><span onclick="window.location.reload()">Girl Safety Transport</span></span>
								 
                            </div>
							
							<div class="logo d-block d-lg-none">
                               <span style="color:white;font-size:22px;font-family: 'Bree Serif', serif; cursor:pointer;"><span class="js-sidebar-btn"><i  style="margin-right:20px;" class="zmdi zmdi-menu"></i></span><span onclick="window.location.reload()">Girl Safety Transport</span></span>
                            </div>

					
							
	                   
						
			<div class="setting-menu js-right-sidebar " id="shadow">
                <nav class="navbar-sidebar2">
                    <ul class="list-unstyled navbar__list">
                        
						<li class="has-sub" id="bar0">
                            <a class="js-arrow">
                                <i class="fas fa-building"></i><span onclick="show(0)" role="button">&nbsp;Home
                                </span></a>
                        </li>
						
                        <li class="has-sub" id="bar1">
                            <a class="js-arrow">
                                <i class="fas fa-bus"></i><span onclick="show(1)" role="button">Buses</span>
                            </a>
                        </li>
                        
						<li class="has-sub" id="bar2">
                            <a class="js-arrow">
                                <i class="fa fa-user"></i><span onclick="show(2)" role="button">Parents
                             </span>
                            </a>
                        </li>
						
						<li class="has-sub" id="bar3">
                            <a class="js-arrow">
                                <i class="fa fa-child"></i><span onclick="show(3)" role="button">&nbsp;Children
                             </span>
                            </a>
                        </li>
						
						<li class="has-sub" id="bar4">
                            <a class="js-arrow">
                                <i class="fa fa-file"></i><span onclick="show(4)" role="button">&nbsp;Reports
                             </span>
                            </a>
                        </li>
						
						<li class="has-sub" id="bar5">
                            <a class="js-arrow">
                                <i class="fa fa-mobile"></i><span onclick="show(5)" role="button">&nbsp;Devices
                             </span>
                            </a>
                        </li>
						
						
						<li class="has-sub" id="bar6">
                            <a class="js-arrow">
                                <i class="fa fa-comments"></i><span onclick="show(6)" role="button">Feedbacks
                             </span>
                            </a>
                        </li>
						
						<li class="has-sub" id="bar7">
                            <a class="js-arrow">
                                <i class="fas fa-rupee-sign"></i><span onclick="show(7)" role="button">&nbsp;&nbsp;Billings
                             </span>
                            </a>
                        </li>
						
						<li class="has-sub" id="bar8">
                            <a class="js-arrow">
                                <i class="fas fa-cog"></i><span onclick="show(8)" role="button">&nbsp;Settings
                             </span>
                            </a>
                        </li>
						
						<li class="has-sub" id="bar9">
                            <a class="js-arrow">
                                <i class="fa fa-fighter-jet"></i><span onclick="show(9)" role="button">Sign Out
                             </span>
                            </a>
                        </li>

                    </ul>
                </nav>
              </div>
							
							
								
                            <div class="header-button2">
							    <!--div>
							       <input type="text" style="color:white; margin-top:15%;"/>
								   <i class="fa fa-search" style="margin-right:50%;"></i>
                                </div-->
								<div class="header-button-item has-noti js-item-menu">
                                    <i class="zmdi zmdi-notifications" style="margin-right:10px;"></i>
                                    <div class="notifi-dropdown js-dropdown" style="overflow-y:scroll;">
                                        <div class="notifi__item">
                                            <div class="bg-c1 img-cir img-40">
                                                <i class="zmdi zmdi-email-open"></i>
                                            </div>
                                            <div class="content">
                                                <p>You got a email notification</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
						
						
						</div>

                    </div>
                </div>
            </header>



            


            <section>
                <div class="section__content section__content--p30">
                    <div class="container-fluid" style="padding-left:0;">
                        <div class="row">
                            
							<div class="col-xl-12">

                                <div class="user-data m-b-40" id="shadow">
                                    <h3 class="title-3 m-b-30">
                                        <i class="zmdi zmdi-map"></i>Mean Data</h3>

                                    <div class="table-responsive table-data" style="height:225px;">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <td>Bus Number</td>
                                                    <td>Child Number</td>
                                                    <td>Parent Number</td>
                                                </tr>
                                            </thead>
                                            <tbody id="mtable">
											  
                                              

                                                <tr>
                                                    <td>
                                                        <span class=""><%=school.buses.length%></span>
                                                    </td>

                                                    <td>
                                                        <span class="">
                                                            <%=school.childrenNumber%>
                                                        </span>
                                                    </td>
                                                    <td><span><%=school.parents.length%></span></td>
                                                </tr>

                                           
                                            
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
							
							<div class="col-xl-12">
                                <div class="map-data m-b-40" style="height:750px;" id="shadow ">
                                    <h3 class="title-3 m-b-30">
                                        <i class="zmdi zmdi-map"></i>Vehicle Tracking</h3>
                                    <div class="filters">

										<!--label>School Name</label>
										<div class="rs-select2--dark rs-select2--md m-r-10 rs-select2--border" style="width:100%;">
                                            <select class="js-select2 schooln" name="property">
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>

										<label style="margin-top:30px;">Bus Number</label>
                                        <div class="rs-select2--dark rs-select2--sm rs-select2--border" style="width:100%;">
                                            <select class="js-select2 au-select-dark busn" name="time">
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div-->

									</div>
                                    <div class="map-wrap m-t-45 m-b-80">
                                        <div id="map" style="height: 370px; width:100%;" class="text-center"></div>
                                    </div>

                                </div>
                            </div>
              
			              <div class="col-xl-12">
							   <div class="parent-data m-b-40" style="background-color:#FFFFFF; padding-bottom:30px; width:100%;" id="shadow">
							    <h3 class="title-3 m-b-30" style="padding-top:30px;">
                                        <i class="zmdi zmdi-map" style="padding-left:40px;" ></i>Parent Data
										<span style="float:right" ><button onclick="newparent()" class="btn btn-primary pull-right" id="but_add" style="margin-right:30px;">Add New Parent</button></span>
							    </h3>

								<div class="table-responsive table-data" style="height:525px;">
                                <table class="table" style="border-style:hidden;">
                                    <thead id="taHead" style="background-color:#FFFFFF;">
                                        <tr>
                                            <td style="padding-left:30px;">Name</td>
                                            <td>Child Name</td>
											<td>Bus Number</td>
                                            <td>Contact Number</td>
                                            <td>Email</td>
                                            <td>Address</td>
                                        </tr>
                                    </thead>
                                    <tbody id="tableOverflow" style="background-color:#FFFFFF; border-style:hidden;">

										   <%if(school.parents.length!=0){%>

											     <%for(var i=0;i<school.parents.length;i++){%>
												 <tr class="mn" id="nopi">
												    <td style="padding-left:30px;"><%=school.parents[i].parentName%></td>
													
													<%for (var j=0;j<school.parents[i].children.length;j++){%>
													    <td>
														<%school.parents[i].children[j].childName.split(",").forEach((val)=>{%>
													         <%=val%><br/>
													    <%})%>
														</td>
													  <%if(school.parents[i].children[j].busNumber.length==0){%>
													    <td>Unassigned</td>
													  <%}else{%>
													    <td>
														<%school.parents[i].children[j].busNumber.split(",").forEach((val)=>{%>
														  <%=val%><br/>
														<%})%>
														</td>
													  <%}%>
													<%}%>
													<td id="pnumb<%=i%>"><%=school.parents[i].mobileNumber%></td>
													<td><%=school.parents[i].emailAddress%></td>
													<td><%=school.parents[i].address%></td>
												 <td><i class="far fa-edit" onclick="peditdata('<%=school.parents[i].parentName%>','<%=school.name%>','<%=JSON.stringify(school.parents[i].children)%>','<%=school.parents[i].mobileNumber%>','<%=school.parents[i].emailAddress%>','<%=school.parents[i].address%>')"></i></td>
											     <td><i class="fa fa-trash" onclick="pdeletedata('<%=school.parents[i].mobileNumber%>','<%=school.name%>')"></i></td>
											     </tr>
											   <%}%>
                                           <%}else{%>
										         <tr id="nops"><td colspan="6" style="padding-top:150px; padding-bottom:150px; border-style:hidden;" class="text-center">No any parents data found</td></tr>
										   <%}%>

                                       
                                    </tbody>
                                </table>
								</div>
							   </div>
                            </div>
							
							
				  <div class="col-xl-12">
							   <div class="device-data m-b-40" style="background-color:#FFFFFF; padding-bottom:30px;" id="shadow">
							    <h3 class="title-3 m-b-30" style="padding-top:30px;">
                                        <i class="zmdi zmdi-map" style="padding-left:40px;" ></i>Devices Data
										<span style="float:right" ><button class="btn btn-danger pull-right" onclick="sadd()" id="dev_add" style="margin-right:30px;">Add Device</button></span>
										<span style="float:right" ><button class="btn btn-primary pull-right" onclick="newassign()" id="but_add" style="margin-right:30px;">Assign Device</button></span>
							    </h3>
						    <div class="table-responsive table-data" style="height:525px;">
							<table class="table " style="border-style:hidden;">
                                   <thead id="taHead" style="background-color:#FFFFFF;">
                                          <tr>
                                              <td style="padding-left:30px;">DeviceId</td>
                                               <td>Bus Number Assigned</td>
                                          </tr>
                                    </thead>
                                          <tbody >
                                             <%if(school.buses.length==0){%>
											     <tr><td colspan="2" style="padding-top:150px; padding-bottom:150px; border-style:hidden;" class="text-center">No any devices data found</td></tr>
											 <%}else{%>
											    <%school.buses.forEach((bus)=>{%>
												  <tr>
													 <td style="padding-left:30px;"><%=bus.deviceId%></td>
													 <%if(bus.busNumber.length==0 || bus.busNumber=="0" || bus.busNumber==0){%>
													   <td>Unassigned</td>
													 <%}else{%>
													   <td><%=bus.busNumber%></td>
													 <%}%>
												     <td><i class="far fa-edit" onclick="assigndata('<%=bus.busNumber%>','<%=school.name%>','<%=bus.deviceId%>')"></i></td>
												  </tr>
												<%})%>
											 <%}%>
                                          </tbody>
                                 </table>
								</div>

                        </div>
                    </div>
					
					<div class="col-xl-12">
							   <div class="bus-data m-b-40" style="background-color:#FFFFFF; padding-bottom:30px;" id="shadow">
							    <h3 class="title-3 m-b-30" style="padding-top:30px;">
                                        <i class="zmdi zmdi-map" style="padding-left:40px;" ></i>Buses Data
										<span style="float:right" ><button class="btn btn-primary pull-right" onclick="busadd()" id="bus_add" style="margin-right:30px;">Add New Bus</button></span>
							    </h3>
						    <div class="table-responsive table-data" style="height:525px;">
							<table class="table " style="border-style:hidden;">
                                   <thead id="taHead" style="background-color:#FFFFFF;">
                                          <tr>
                                               <td style="padding-left:50px;">Bus Number</td>
                                               <td style="padding-left:30px;">Device assigned</td>
                                          </tr>
                                    </thead>
                                          <tbody >
										  <%if(school.buses.length!=0){%>
                                           <%school.buses.forEach((bus)=>{%>
												  <tr>
													 <%if(bus.busNumber.length==0 || bus.busNumber=="0" || bus.busNumber==0){%>
													   <td>Unassigned</td>
													 <%}else{%>
													   <td><%=bus.busNumber%></td>
													 <%}%>
													 <td style="padding-left:30px;"><%=bus.deviceId%></td>
													 
												     <td><i class="far fa-edit" onclick="assigndata('<%=bus.busNumber%>','<%=school.name%>','<%=bus.deviceId%>')"></i></td>
												  </tr>
												<%})%>
										  <%}else{%>
											 <tr><td colspan="2" style="padding-top:150px; padding-bottom:150px; border-style:hidden;" class="text-center">No any buses data found</td></tr>
										  <%}%>
                                             
                                          </tbody>
                                 </table>
								</div>
							
                        </div>
                    </div>
					
					
					<div class="col-xl-12">
							   <div class="child-data m-b-40" style="background-color:#FFFFFF; padding-bottom:30px;" id="shadow">
							    <h3 class="title-3 m-b-30" style="padding-top:30px;">
                                        <i class="zmdi zmdi-map" style="padding-left:40px;" ></i>Children Data
										<span style="float:right" ><button class="btn btn-primary pull-right" onclick="childadd()" id="chil_add" style="margin-right:30px;">Add New Child</button></span>
							    </h3>
						    <div class="table-responsive table-data" style="height:525px;">
							<table class="table " style="border-style:hidden;">
                                   <thead id="taHead" style="background-color:#FFFFFF;">
                                          <tr>
                                               <td style="padding-left:50px;">Child Name</td>
											   <td>Parent Name</td>
                                          </tr>
                                    </thead>
                                          <tbody>
										   <%if(school.parents.length==0){%>
											     <tr><td colspan="2" style="padding-top:150px; padding-bottom:150px; border-style:hidden;" class="text-center">No any children data found</td></tr>
									        <%}else{%>
										 
                                
											     
												 
											     <%for(var i=0;i<school.parents.length;i++){%>
		                                            
													
													<%for (var j=0;j<school.parents[i].children.length;j++){%>
														<%for(var k=0;k<school.parents[i].children[j].childName.split(",").length;k++){%>
														  <tr class="mn" id="nopi">
														  <td><%=school.parents[i].children[j].childName.split(",")[k]%></td>
														  <td><%=school.parents[j].parentName%></td>
													      <td><i class="far fa-edit" onclick="ceditdata()"></i></td>
											              <td><i class="fa fa-trash" onclick="cdeletedata()"></i></td>
														  </tr>
														<%}%>
													  <%}%>
											      
												 <%}%>
												<%}%>
											   
										
										
											 
                                          </tbody>
                                 </table>
								</div>
							
                        </div>
                    </div>
					


					<div class="col-xl-12">
                                <div class="report-data m-b-40" style="height:350px;" id="shadow addy">
                                    <h3 class="title-3 m-b-30">
                                        <i class="zmdi zmdi-map"></i>Download Report</h3>
                                    <div>

										<label style="margin-top:20px;">Choose Starting Date&nbsp;</label>
											<input type="text" id="date" data-format="DD-MM-YYYY" data-template="D MMM YYYY" name="date" value="01-01-2018"><br/>


										<label style="margin-top:30px;">Choose Ending Date&nbsp;&nbsp;&nbsp;</label>
                                             <input type="text" id="date1" data-format="DD-MM-YYYY" data-template="D MMM YYYY" name="date" value="01-01-2018"><br/>

										 <label style="margin-top:30px;">Choose DeviceId&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
										 <select name="cdeviceid" id="cid" style="margin-top:15px;">


									     </select>


									   <script>
										  $('#date').combodate({
                                              minYear: 2018,
                                              maxYear: new Date().getFullYear(),
                                           });
										  $('#date1').combodate({
                                              minYear: 2018,
                                              maxYear: new Date().getFullYear()
                                           });
									   </script>
									   <p id="erru" style="margin-top:30px; display:none;"> Unable to download the report now. May be some server error. Please try again later</p>
									 <span style="float:right;" ><button onclick="downloadreport()" class="btn btn-primary" id="r_get" style="margin-top:35px;">Download Report</button></span>

									</div>


                                </div>

                       </div>

					</div>

				</div>
				</div>
            </section>
            <!--Modal Boxes (Edit School)-->



			<div class="modal fade" id="addit">
                <div class="modal-dialog modal-lg" style="height:450px;" id="f10">
                    <div class="modal-content" id="shadow">
                        <div class="modal-header"><span style="font-size:18px;" id="headis">Add New Device</span></div>
                        <div class="modal-body text-center" id="overflowControl">

                            <div class="row" id="addDevice">
                                <form role="form" id="deform">
                                    <input type="text" style="width:95%; margin-left:10px; margin-bottom:10px;" name="name"  class="form-control" id="d1" placeholder="Enter Device Name" />

									<p id="yahoo" style=" display:none; margin-top:10px; margin-bottom:10px;"></p>

									<button type="button" onclick="addn()" class="btn btn-outline-primary btn-lg" value="submit" id="addde">Add</button>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer"><button class="btn btn-outline-danger" data-dismiss="modal">Close</button></div>
                    </div>
                </div>
            </div>

           
		   <div class="modal fade" id="devicestates">
                                <div class="modal-dialog modal-lg">
								<div class="modal-content" id="shadow">
                                  <div class="modal-header"><span style="font-size:18px;">Assign Device</span></div>
                                   <div class="modal-body text-center" id="overflowControl">
                                   <form role="form text-center" action='/busNumberWithDevice' method='POST' id="dform">
                                    <select name="deviceid" id="did" style="width:100%; margin-top:15px;" class="form-control" required>
                                           
									 </select>
									<input type="hidden" id="sid" name="schoolname" value="<%=school.name%>" style="margin-top:20px;" class="form-control" placeholder="Enter School name"/-->
									
									
                                    
									<input type="text" id="bid" name="busnumber" style="margin-top:20px;" class="form-control" placeholder="Enter Bus Number" required/>
                                    
									<p id="isu" style="margin-top:30px; display:none;"></p>
									<button type="button" onclick="unassign()" id="amm" style="margin-top:20px; float:left;" class="btn btn-outline-danger btn-lg">Unassign</button>
									<button type="submit" onclick="checksame()" id="am" style="margin-top:20px;" class="btn btn-outline-primary btn-lg" value="submit">Assign</button>
             
									
								</form>

                                </div>
								<div class="modal-footer"><button class="btn btn-outline-danger" data-dismiss="modal">Close</button></div>
                            </div>
						  </div>
						 </div>

		   


			<div class="modal fade" id="editSchool">
                <div class="modal-dialog modal-lg" style="height:450px;" id="f1">
                    <div class="modal-content" id="shadow">
                        <div class="modal-header"><span style="font-size:18px;" id="headis">Add New School</span></div>
                        <div class="modal-body text-center" id="overflowControl">

                            <div class="row" id="addSchool">
                                <form role="form text-center" method='POST' id="sform">
                                    <input type="text" name="name"  class="form-control" id="z1" placeholder="Enter School Name" />
                                    <input type="text" name="username" class="form-control" id="z2" placeholder="Enter School Username" />
                                    <input type="password" name="password" class="form-control" id="z3"  style="margin-top:10px;" placeholder="Enter School Password"/>
                                    <input type="number" name="number" class="form-control" id="z4"  style="margin-top:20px;" placeholder="Enter School Contact Number"/>
                                    <input type="text" name="address" class="form-control" style="margin-top:20px;" id="z5"  placeholder="Enter School Address"/>
                                    <input type="email" name="email" class="form-control" id="z6"  placeholder="Enter School Email Address"/>
                                    <button type="submit" class="btn btn-outline-primary btn-lg" value="submit" id="adds">Add</button>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer"><button class="btn btn-outline-danger" data-dismiss="modal">Close</button></div>
                    </div>
                </div>
            </div>
            


    </div>



	<script src="vendor/bootstrap-4.1/popper.min.js"></script>

    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js"></script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js"></script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="vendor/select2/select2.min.js"></script>

    <!-- Main JS-->
    <script src="js/smain.js"></script>
    <script src="js/bootstable.min.js"></script>
    <script>
        function addSchool() {
            document.getElementById('addSchool').style.display = "inline-block";
			document.getElementById('addSchool').style.height="450px";
            document.getElementById('removeSchool').style.display = "none";
            document.getElementById('modifySchool').style.display = "none";
            document.getElementsByTagName('form').style.width = "100%";
        }

        function removeSchool() {
            document.getElementById('addSchool').style.display = "none";
            document.getElementById('removeSchool').style.display = "inline-block";
            document.getElementById('modifySchool').style.display = "none";
        }

        function modifySchool() {
            document.getElementById('addSchool').style.display = "none";
            document.getElementById('removeSchool').style.display = "none";
            document.getElementById('modifySchool').style.display = "inline-block";
        }

        function addParent() {
            document.getElementById('addParent').style.display = "inline-block";
			document.getElementById('addParent').style.height="500px";
            document.getElementById('removeParent').style.display = "none";
            document.getElementById('modifyParent').style.display = "none";
            document.getElementsByTagName('form').style.width = "100%";
        }

        function removeParent() {
            document.getElementById('addParent').style.display = "none";
            document.getElementById('removeParent').style.display = "inline-block";
            document.getElementById('modifyParent').style.display = "none";
        }

        function modifyParent() {
            document.getElementById('addParent').style.display = "none";
            document.getElementById('removeParent').style.display = "none";
            document.getElementById('modifyParent').style.display = "inline-block";
        }

    </script>

</body>

</html>
