<%schools.forEach(function(school){ %>

<li><%=school%></li>

<% }) %>
<div class="modal-body">
    <div class="row" id="schoolsInfoList">
        <table class="table table-striped" id="makeEditable">
            <thead id="taHead">
                <tr>
                    <th scope="col">S.N.</th>
                    <th scope="col">Schools</th>
                    <th scope="col">Buses</th>
                    <th scope="col">Parents</th>
                    <th scope="col">Children</th>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                </tr>
            </thead>
            <tbody id="tableOverflow">
                <tr>
                  <%schools.forEach(function(school){ %>
                    <th scope="row">1</th>
                    <td><%= school.name%></td>
                    <td><%= school.buses.length %></td>
                    <td><%= school.parents.length%></td>
                    <td>4000</td>
                    <td><%= school.contactNumber %></td>
                    <td><%= school.emailAddress%></td>
                    <td><%= school.address%></td>
                    <% }) %>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer"><button class="btn btn-outline-danger" data-dismiss="modal">Close</button></div>

</div>
